In [2]:
import pandas as pd
import os
import sys
# sys.path.insert(0, 'X:\\bayarea_urbansim\\scripts')
# from baus_analytics_tools import *

In [3]:
M_drive_dir = r'M:\Data\Urban\BAUS\PBA50\explore_developer_model\runs_new_parcel_subzone_input'

In [5]:
# read TAZ-SD number crosswalk
taz_f = pd.read_csv('M:/Data/GIS layers/TM1_taz/bayarea_rtaz1454_rev1_WGS84.csv',
                    usecols = ['TAZ1454', 'SUPERD'])
taz_f.drop_duplicates(inplace=True)

# read SD number-name crosswalk 
sd_name = pd.read_csv(r'X:\bayarea_urbansim\data\superdistricts.csv',
                      usecols=['number', 'name'])
sd_name.drop_duplicates(inplace=True)

# merge the two
TAZ_SD = taz_f.merge(sd_name, left_on='SUPERD', right_on='number', how='left')
TAZ_SD = TAZ_SD[['TAZ1454', 'SUPERD', 'name']]
TAZ_SD.rename(columns = {'TAZ1454': 'TAZ', 'name': 'SD_NAME'}, inplace=True)

display(TAZ_SD)

       TAZ  SUPERD            SD_NAME
0     1005      19    Berkeley Eville
1      999      19    Berkeley Eville
2      998      19    Berkeley Eville
3     1000      19    Berkeley Eville
4     1001      19    Berkeley Eville
...    ...     ...                ...
1449  1136      22       Lamorinda WC
1450  1145      22       Lamorinda WC
1451  1146      22       Lamorinda WC
1452  1201      24  East Contra Costa
1453  1202      24  East Contra Costa

[1454 rows x 3 columns]

In [6]:
# location of two runs: run313-P, run310-NP
runs_dir = r'X:\bayarea_urbansim\runs'
output_dir = M_drive_dir

In [8]:
np_taz = TAZ_SD.copy()
for filename in os.listdir(runs_dir):
    if ('run310_taz_summaries' in filename) & ('taz_summaries_2010' not in filename):
        print(filename)
        yr = filename.split('.')[0][-4:]
        df = pd.read_csv(os.path.join(runs_dir, filename), usecols=['TAZ', 'TOTHH', 'TOTEMP'])
        df.rename(columns = {'TOTHH':  'tothh_'+yr,
                             'TOTEMP': 'totemp_'+yr}, inplace=True)
#         display(df.head())
        np_taz = np_taz.merge(df, on='TAZ', how='outer')

np_taz.shape

for col in list(np_taz):
    if col not in ['SUPERD', 'TAZ']:
        np_taz[col] = np_taz[col].fillna(0)

display(np_taz.head())

run310_taz_summaries_2015.csv
run310_taz_summaries_2020.csv
run310_taz_summaries_2025.csv
run310_taz_summaries_2030.csv
run310_taz_summaries_2035.csv
run310_taz_summaries_2040.csv
run310_taz_summaries_2045.csv
run310_taz_summaries_2050.csv

,TAZ,SUPERD,SD_NAME,totemp_2015,tothh_2015,totemp_2020,tothh_2020,totemp_2025,tothh_2025,totemp_2030,tothh_2030,totemp_2035,tothh_2035,totemp_2040,tothh_2040,totemp_2045,tothh_2045,totemp_2050,tothh_2050
0,1005,19,Berkeley Eville,3094,1382.0,2933.0,1378.0,2809.0,1393.0,2868.0,1441.0,2770.0,1446.0,2718.0,1476.0,2674.0,1472.0,2657.0,1473.0
1,999,19,Berkeley Eville,4824,851.0,5065.0,836.0,4992.0,860.0,5323.0,876.0,5439.0,877.0,5545.0,869.0,5887.0,876.0,6100.0,885.0
2,998,19,Berkeley Eville,1684,2419.0,1571.0,2834.0,1530.0,2953.0,1526.0,3031.0,1538.0,3095.0,1538.0,3057.0,1602.0,3044.0,1658.0,3076.0
3,1000,19,Berkeley Eville,1136,1730.0,1056.0,1725.0,1047.0,1790.0,1091.0,1807.0,1088.0,1831.0,1073.0,1809.0,1106.0,1786.0,1134.0,1812.0
4,1001,19,Berkeley Eville,695,1515.0,678.0,1500.0,705.0,1543.0,760.0,1545.0,774.0,1613.0,803.0,1599.0,908.0,1569.0,967.0,1604.0

In [9]:
p_taz = TAZ_SD.copy()
for filename in os.listdir(runs_dir):
    if ('run313_taz_summaries' in filename) & ('taz_summaries_2010' not in filename):
        print(filename)
        yr = filename.split('.')[0][-4:]
        df = pd.read_csv(os.path.join(runs_dir, filename), usecols=['TAZ', 'TOTHH', 'TOTEMP'])
        df.rename(columns = {'TOTHH':  'tothh_'+yr,
                             'TOTEMP': 'totemp_'+yr}, inplace=True)
#         display(df.head())
        p_taz = p_taz.merge(df, on='TAZ', how='outer')

p_taz.shape

for col in list(p_taz):
    if col not in ['SUPERD', 'TAZ']:
        p_taz[col] = p_taz[col].fillna(0)

display(p_taz.head())

run313_taz_summaries_2015.csv
run313_taz_summaries_2020.csv
run313_taz_summaries_2025.csv
run313_taz_summaries_2030.csv
run313_taz_summaries_2035.csv
run313_taz_summaries_2040.csv
run313_taz_summaries_2045.csv
run313_taz_summaries_2050.csv

,TAZ,SUPERD,SD_NAME,totemp_2015,tothh_2015,totemp_2020,tothh_2020,totemp_2025,tothh_2025,totemp_2030,tothh_2030,totemp_2035,tothh_2035,totemp_2040,tothh_2040,totemp_2045,tothh_2045,totemp_2050,tothh_2050
0,1005,19,Berkeley Eville,3104,1382.0,2907.0,1378.0,2818.0,1392.0,2848.0,1406.0,2705.0,1491.0,2666.0,1518.0,2628.0,1520.0,2609.0,1519.0
1,999,19,Berkeley Eville,4876,854.0,5131.0,843.0,5068.0,870.0,5480.0,870.0,5553.0,888.0,5804.0,906.0,6173.0,910.0,6436.0,933.0
2,998,19,Berkeley Eville,1689,2421.0,1584.0,2830.0,1553.0,2958.0,1616.0,2987.0,1678.0,3047.0,1688.0,3081.0,1733.0,3087.0,1770.0,3122.0
3,1000,19,Berkeley Eville,1132,1737.0,1062.0,1713.0,1036.0,1773.0,1057.0,1797.0,1060.0,1839.0,1055.0,1856.0,1082.0,1867.0,1105.0,1870.0
4,1001,19,Berkeley Eville,699,1517.0,682.0,1488.0,703.0,1564.0,776.0,1562.0,793.0,1591.0,824.0,1568.0,925.0,1568.0,973.0,1610.0

In [10]:
# wide table

for i in ['hh', 'emp']:
    for j in ['2020', '2025', '2030', '2035', '2040', '2045', '2050']:
        np_taz['growth_'+i+'_'+j+'_np'] = np_taz['tot'+i+'_'+j] - np_taz['tot'+i+'_2015']

for i in ['hh', 'emp']:
    for j in ['2020', '2025', '2030', '2035', '2040', '2045', '2050']:
        p_taz['growth_'+i+'_'+j+'_p'] = p_taz['tot'+i+'_'+j] - p_taz['tot'+i+'_2015']

# merge
taz_growth_comp = np_taz.merge(p_taz, on=['SD_NAME', 'SUPERD', 'TAZ'], how='outer')
print(taz_growth_comp.shape)

# drop unneeded columns
growth_cols = [col for col in taz_growth_comp.columns if 'growth' in col]
taz_growth_comp = taz_growth_comp[['SD_NAME', 'SUPERD', 'TAZ']+growth_cols]

(1454, 63)

In [11]:
for i in ['hh', 'emp']:
    for j in ['2020', '2025', '2030', '2035', '2040', '2045', '2050']:
#         print(i+'_growth_diff_'+j)
#         print('growth_'+i+'_'+j+'_p')
#         print('growth_'+i+'_'+j+'_np')
        taz_growth_comp[i+'_growth_diff_'+j] = taz_growth_comp['growth_'+i+'_'+j+'_p'] - taz_growth_comp['growth_'+i+'_'+j+'_np']

In [12]:
taz_growth_comp.to_csv(os.path.join(output_dir, 'taz_growth_comp_allYrs.csv'), index=False)

In [13]:
print(list(taz_growth_comp))

['SD_NAME', 'SUPERD', 'TAZ', 'growth_hh_2020_np', 'growth_hh_2025_np', 'growth_hh_2030_np', 'growth_hh_2035_np', 'growth_hh_2040_np', 'growth_hh_2045_np', 'growth_hh_2050_np', 'growth_emp_2020_np', 'growth_emp_2025_np', 'growth_emp_2030_np', 'growth_emp_2035_np', 'growth_emp_2040_np', 'growth_emp_2045_np', 'growth_emp_2050_np', 'growth_hh_2020_p', 'growth_hh_2025_p', 'growth_hh_2030_p', 'growth_hh_2035_p', 'growth_hh_2040_p', 'growth_hh_2045_p', 'growth_hh_2050_p', 'growth_emp_2020_p', 'growth_emp_2025_p', 'growth_emp_2030_p', 'growth_emp_2035_p', 'growth_emp_2040_p', 'growth_emp_2045_p', 'growth_emp_2050_p', 'hh_growth_diff_2020', 'hh_growth_diff_2025', 'hh_growth_diff_2030', 'hh_growth_diff_2035', 'hh_growth_diff_2040', 'hh_growth_diff_2045', 'hh_growth_diff_2050', 'emp_growth_diff_2020', 'emp_growth_diff_2025', 'emp_growth_diff_2030', 'emp_growth_diff_2035', 'emp_growth_diff_2040', 'emp_growth_diff_2045', 'emp_growth_diff_2050']

In [14]:
growth_raw_cols = [col for col in taz_growth_comp.columns if ('growth_diff' not in col) and ('growth' in col) ]

growth_raw_cols

['growth_hh_2020_np',
 'growth_hh_2025_np',
 'growth_hh_2030_np',
 'growth_hh_2035_np',
 'growth_hh_2040_np',
 'growth_hh_2045_np',
 'growth_hh_2050_np',
 'growth_emp_2020_np',
 'growth_emp_2025_np',
 'growth_emp_2030_np',
 'growth_emp_2035_np',
 'growth_emp_2040_np',
 'growth_emp_2045_np',
 'growth_emp_2050_np',
 'growth_hh_2020_p',
 'growth_hh_2025_p',
 'growth_hh_2030_p',
 'growth_hh_2035_p',
 'growth_hh_2040_p',
 'growth_hh_2045_p',
 'growth_hh_2050_p',
 'growth_emp_2020_p',
 'growth_emp_2025_p',
 'growth_emp_2030_p',
 'growth_emp_2035_p',
 'growth_emp_2040_p',
 'growth_emp_2045_p',
 'growth_emp_2050_p']

In [15]:
taz_growth_stack = pd.DataFrame(columns=['SD_NAME', 'SUPERD', 'TAZ', 'growth', 'type', 'year', 'scenario'])
for i in growth_raw_cols:
    print(i)
    ty = i.split('_')[1]
    print(ty)
    yr = i.split('_')[2]
    print(yr)
    scn = i.split('_')[3]
    print(scn)
    
    df = taz_growth_comp[['SD_NAME', 'SUPERD', 'TAZ', i]]
    df.rename(columns={i: 'growth'}, inplace=True)
    df['type'] = ty
    df['year'] = yr
    df['scenario'] = scn
    display(df)
    
    taz_growth_stack = pd.concat([taz_growth_stack, df])

growth_hh_2020_np
hh
2020
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    -4.0   hh  2020       np
1       Berkeley Eville      19   999   -15.0   hh  2020       np
2       Berkeley Eville      19   998   415.0   hh  2020       np
3       Berkeley Eville      19  1000    -5.0   hh  2020       np
4       Berkeley Eville      19  1001   -15.0   hh  2020       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136    -8.0   hh  2020       np
1450       Lamorinda WC      22  1145  1093.0   hh  2020       np
1451       Lamorinda WC      22  1146    33.0   hh  2020       np
1452  East Contra Costa      24  1201     8.0   hh  2020       np
1453  East Contra Costa      24  1202    -2.0   hh  2020       np

[1454 rows x 7 columns]

growth_hh_2025_np
hh
2025
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    11.0   hh  2025       np
1       Berkeley Eville      19   999     9.0   hh  2025       np
2       Berkeley Eville      19   998   534.0   hh  2025       np
3       Berkeley Eville      19  1000    60.0   hh  2025       np
4       Berkeley Eville      19  1001    28.0   hh  2025       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   122.0   hh  2025       np
1450       Lamorinda WC      22  1145  1447.0   hh  2025       np
1451       Lamorinda WC      22  1146   125.0   hh  2025       np
1452  East Contra Costa      24  1201    27.0   hh  2025       np
1453  East Contra Costa      24  1202    10.0   hh  2025       np

[1454 rows x 7 columns]

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

growth_hh_2030_np
hh
2030
np

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    59.0   hh  2030       np
1       Berkeley Eville      19   999    25.0   hh  2030       np
2       Berkeley Eville      19   998   612.0   hh  2030       np
3       Berkeley Eville      19  1000    77.0   hh  2030       np
4       Berkeley Eville      19  1001    30.0   hh  2030       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   310.0   hh  2030       np
1450       Lamorinda WC      22  1145  2311.0   hh  2030       np
1451       Lamorinda WC      22  1146   136.0   hh  2030       np
1452  East Contra Costa      24  1201    29.0   hh  2030       np
1453  East Contra Costa      24  1202    26.0   hh  2030       np

[1454 rows x 7 columns]

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

growth_hh_2035_np
hh
2035
np

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    64.0   hh  2035       np
1       Berkeley Eville      19   999    26.0   hh  2035       np
2       Berkeley Eville      19   998   676.0   hh  2035       np
3       Berkeley Eville      19  1000   101.0   hh  2035       np
4       Berkeley Eville      19  1001    98.0   hh  2035       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   328.0   hh  2035       np
1450       Lamorinda WC      22  1145  2654.0   hh  2035       np
1451       Lamorinda WC      22  1146   126.0   hh  2035       np
1452  East Contra Costa      24  1201    24.0   hh  2035       np
1453  East Contra Costa      24  1202     9.0   hh  2035       np

[1454 rows x 7 columns]

growth_hh_2040_np
hh
2040
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    94.0   hh  2040       np
1       Berkeley Eville      19   999    18.0   hh  2040       np
2       Berkeley Eville      19   998   638.0   hh  2040       np
3       Berkeley Eville      19  1000    79.0   hh  2040       np
4       Berkeley Eville      19  1001    84.0   hh  2040       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   635.0   hh  2040       np
1450       Lamorinda WC      22  1145  2981.0   hh  2040       np
1451       Lamorinda WC      22  1146   161.0   hh  2040       np
1452  East Contra Costa      24  1201    54.0   hh  2040       np
1453  East Contra Costa      24  1202    25.0   hh  2040       np

[1454 rows x 7 columns]

growth_hh_2045_np
hh
2045
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    90.0   hh  2045       np
1       Berkeley Eville      19   999    25.0   hh  2045       np
2       Berkeley Eville      19   998   625.0   hh  2045       np
3       Berkeley Eville      19  1000    56.0   hh  2045       np
4       Berkeley Eville      19  1001    54.0   hh  2045       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   679.0   hh  2045       np
1450       Lamorinda WC      22  1145  3202.0   hh  2045       np
1451       Lamorinda WC      22  1146   367.0   hh  2045       np
1452  East Contra Costa      24  1201    32.0   hh  2045       np
1453  East Contra Costa      24  1202    15.0   hh  2045       np

[1454 rows x 7 columns]

growth_hh_2050_np
hh
2050
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    91.0   hh  2050       np
1       Berkeley Eville      19   999    34.0   hh  2050       np
2       Berkeley Eville      19   998   657.0   hh  2050       np
3       Berkeley Eville      19  1000    82.0   hh  2050       np
4       Berkeley Eville      19  1001    89.0   hh  2050       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   704.0   hh  2050       np
1450       Lamorinda WC      22  1145  3399.0   hh  2050       np
1451       Lamorinda WC      22  1146   378.0   hh  2050       np
1452  East Contra Costa      24  1201    26.0   hh  2050       np
1453  East Contra Costa      24  1202    29.0   hh  2050       np

[1454 rows x 7 columns]

growth_emp_2020_np
emp
2020
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -161.0  emp  2020       np
1       Berkeley Eville      19   999   241.0  emp  2020       np
2       Berkeley Eville      19   998  -113.0  emp  2020       np
3       Berkeley Eville      19  1000   -80.0  emp  2020       np
4       Berkeley Eville      19  1001   -17.0  emp  2020       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136    58.0  emp  2020       np
1450       Lamorinda WC      22  1145   -69.0  emp  2020       np
1451       Lamorinda WC      22  1146   810.0  emp  2020       np
1452  East Contra Costa      24  1201    -5.0  emp  2020       np
1453  East Contra Costa      24  1202   128.0  emp  2020       np

[1454 rows x 7 columns]

growth_emp_2025_np
emp
2025
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -285.0  emp  2025       np
1       Berkeley Eville      19   999   168.0  emp  2025       np
2       Berkeley Eville      19   998  -154.0  emp  2025       np
3       Berkeley Eville      19  1000   -89.0  emp  2025       np
4       Berkeley Eville      19  1001    10.0  emp  2025       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136    49.0  emp  2025       np
1450       Lamorinda WC      22  1145  -311.0  emp  2025       np
1451       Lamorinda WC      22  1146  1674.0  emp  2025       np
1452  East Contra Costa      24  1201     6.0  emp  2025       np
1453  East Contra Costa      24  1202   181.0  emp  2025       np

[1454 rows x 7 columns]

growth_emp_2030_np
emp
2030
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -226.0  emp  2030       np
1       Berkeley Eville      19   999   499.0  emp  2030       np
2       Berkeley Eville      19   998  -158.0  emp  2030       np
3       Berkeley Eville      19  1000   -45.0  emp  2030       np
4       Berkeley Eville      19  1001    65.0  emp  2030       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   168.0  emp  2030       np
1450       Lamorinda WC      22  1145   646.0  emp  2030       np
1451       Lamorinda WC      22  1146  2988.0  emp  2030       np
1452  East Contra Costa      24  1201    25.0  emp  2030       np
1453  East Contra Costa      24  1202   253.0  emp  2030       np

[1454 rows x 7 columns]

growth_emp_2035_np
emp
2035
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -324.0  emp  2035       np
1       Berkeley Eville      19   999   615.0  emp  2035       np
2       Berkeley Eville      19   998  -146.0  emp  2035       np
3       Berkeley Eville      19  1000   -48.0  emp  2035       np
4       Berkeley Eville      19  1001    79.0  emp  2035       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   199.0  emp  2035       np
1450       Lamorinda WC      22  1145   678.0  emp  2035       np
1451       Lamorinda WC      22  1146  3190.0  emp  2035       np
1452  East Contra Costa      24  1201    27.0  emp  2035       np
1453  East Contra Costa      24  1202   309.0  emp  2035       np

[1454 rows x 7 columns]

growth_emp_2040_np
emp
2040
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -376.0  emp  2040       np
1       Berkeley Eville      19   999   721.0  emp  2040       np
2       Berkeley Eville      19   998  -146.0  emp  2040       np
3       Berkeley Eville      19  1000   -63.0  emp  2040       np
4       Berkeley Eville      19  1001   108.0  emp  2040       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136  -254.0  emp  2040       np
1450       Lamorinda WC      22  1145   724.0  emp  2040       np
1451       Lamorinda WC      22  1146  3335.0  emp  2040       np
1452  East Contra Costa      24  1201    33.0  emp  2040       np
1453  East Contra Costa      24  1202   341.0  emp  2040       np

[1454 rows x 7 columns]

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

growth_emp_2045_np
emp
2045
np

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -420.0  emp  2045       np
1       Berkeley Eville      19   999  1063.0  emp  2045       np
2       Berkeley Eville      19   998   -82.0  emp  2045       np
3       Berkeley Eville      19  1000   -30.0  emp  2045       np
4       Berkeley Eville      19  1001   213.0  emp  2045       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136  -245.0  emp  2045       np
1450       Lamorinda WC      22  1145   828.0  emp  2045       np
1451       Lamorinda WC      22  1146  3345.0  emp  2045       np
1452  East Contra Costa      24  1201    37.0  emp  2045       np
1453  East Contra Costa      24  1202   357.0  emp  2045       np

[1454 rows x 7 columns]

growth_emp_2050_np
emp
2050
np

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -437.0  emp  2050       np
1       Berkeley Eville      19   999  1276.0  emp  2050       np
2       Berkeley Eville      19   998   -26.0  emp  2050       np
3       Berkeley Eville      19  1000    -2.0  emp  2050       np
4       Berkeley Eville      19  1001   272.0  emp  2050       np
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136  -231.0  emp  2050       np
1450       Lamorinda WC      22  1145  1097.0  emp  2050       np
1451       Lamorinda WC      22  1146  3487.0  emp  2050       np
1452  East Contra Costa      24  1201    45.0  emp  2050       np
1453  East Contra Costa      24  1202   362.0  emp  2050       np

[1454 rows x 7 columns]

growth_hh_2020_p
hh
2020
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    -4.0   hh  2020        p
1       Berkeley Eville      19   999   -11.0   hh  2020        p
2       Berkeley Eville      19   998   409.0   hh  2020        p
3       Berkeley Eville      19  1000   -24.0   hh  2020        p
4       Berkeley Eville      19  1001   -29.0   hh  2020        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136    -5.0   hh  2020        p
1450       Lamorinda WC      22  1145  1055.0   hh  2020        p
1451       Lamorinda WC      22  1146    36.0   hh  2020        p
1452  East Contra Costa      24  1201     1.0   hh  2020        p
1453  East Contra Costa      24  1202   -14.0   hh  2020        p

[1454 rows x 7 columns]

growth_hh_2025_p
hh
2025
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    10.0   hh  2025        p
1       Berkeley Eville      19   999    16.0   hh  2025        p
2       Berkeley Eville      19   998   537.0   hh  2025        p
3       Berkeley Eville      19  1000    36.0   hh  2025        p
4       Berkeley Eville      19  1001    47.0   hh  2025        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   113.0   hh  2025        p
1450       Lamorinda WC      22  1145  1429.0   hh  2025        p
1451       Lamorinda WC      22  1146   146.0   hh  2025        p
1452  East Contra Costa      24  1201    11.0   hh  2025        p
1453  East Contra Costa      24  1202    20.0   hh  2025        p

[1454 rows x 7 columns]

growth_hh_2030_p
hh
2030
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005    24.0   hh  2030        p
1       Berkeley Eville      19   999    16.0   hh  2030        p
2       Berkeley Eville      19   998   566.0   hh  2030        p
3       Berkeley Eville      19  1000    60.0   hh  2030        p
4       Berkeley Eville      19  1001    45.0   hh  2030        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   134.0   hh  2030        p
1450       Lamorinda WC      22  1145  1887.0   hh  2030        p
1451       Lamorinda WC      22  1146   210.0   hh  2030        p
1452  East Contra Costa      24  1201    28.0   hh  2030        p
1453  East Contra Costa      24  1202    26.0   hh  2030        p

[1454 rows x 7 columns]

growth_hh_2035_p
hh
2035
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005   109.0   hh  2035        p
1       Berkeley Eville      19   999    34.0   hh  2035        p
2       Berkeley Eville      19   998   626.0   hh  2035        p
3       Berkeley Eville      19  1000   102.0   hh  2035        p
4       Berkeley Eville      19  1001    74.0   hh  2035        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   300.0   hh  2035        p
1450       Lamorinda WC      22  1145  2193.0   hh  2035        p
1451       Lamorinda WC      22  1146   198.0   hh  2035        p
1452  East Contra Costa      24  1201    26.0   hh  2035        p
1453  East Contra Costa      24  1202    21.0   hh  2035        p

[1454 rows x 7 columns]

growth_hh_2040_p
hh
2040
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005   136.0   hh  2040        p
1       Berkeley Eville      19   999    52.0   hh  2040        p
2       Berkeley Eville      19   998   660.0   hh  2040        p
3       Berkeley Eville      19  1000   119.0   hh  2040        p
4       Berkeley Eville      19  1001    51.0   hh  2040        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   472.0   hh  2040        p
1450       Lamorinda WC      22  1145  2298.0   hh  2040        p
1451       Lamorinda WC      22  1146   240.0   hh  2040        p
1452  East Contra Costa      24  1201    34.0   hh  2040        p
1453  East Contra Costa      24  1202    35.0   hh  2040        p

[1454 rows x 7 columns]

growth_hh_2045_p
hh
2045
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005   138.0   hh  2045        p
1       Berkeley Eville      19   999    56.0   hh  2045        p
2       Berkeley Eville      19   998   666.0   hh  2045        p
3       Berkeley Eville      19  1000   130.0   hh  2045        p
4       Berkeley Eville      19  1001    51.0   hh  2045        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   545.0   hh  2045        p
1450       Lamorinda WC      22  1145  2710.0   hh  2045        p
1451       Lamorinda WC      22  1146   347.0   hh  2045        p
1452  East Contra Costa      24  1201    23.0   hh  2045        p
1453  East Contra Costa      24  1202    16.0   hh  2045        p

[1454 rows x 7 columns]

growth_hh_2050_p
hh
2050
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005   137.0   hh  2050        p
1       Berkeley Eville      19   999    79.0   hh  2050        p
2       Berkeley Eville      19   998   701.0   hh  2050        p
3       Berkeley Eville      19  1000   133.0   hh  2050        p
4       Berkeley Eville      19  1001    93.0   hh  2050        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   644.0   hh  2050        p
1450       Lamorinda WC      22  1145  2976.0   hh  2050        p
1451       Lamorinda WC      22  1146   349.0   hh  2050        p
1452  East Contra Costa      24  1201    34.0   hh  2050        p
1453  East Contra Costa      24  1202    27.0   hh  2050        p

[1454 rows x 7 columns]

growth_emp_2020_p
emp
2020
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -197.0  emp  2020        p
1       Berkeley Eville      19   999   255.0  emp  2020        p
2       Berkeley Eville      19   998  -105.0  emp  2020        p
3       Berkeley Eville      19  1000   -70.0  emp  2020        p
4       Berkeley Eville      19  1001   -17.0  emp  2020        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136    56.0  emp  2020        p
1450       Lamorinda WC      22  1145   -69.0  emp  2020        p
1451       Lamorinda WC      22  1146   842.0  emp  2020        p
1452  East Contra Costa      24  1201    -4.0  emp  2020        p
1453  East Contra Costa      24  1202   118.0  emp  2020        p

[1454 rows x 7 columns]

growth_emp_2025_p
emp
2025
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -286.0  emp  2025        p
1       Berkeley Eville      19   999   192.0  emp  2025        p
2       Berkeley Eville      19   998  -136.0  emp  2025        p
3       Berkeley Eville      19  1000   -96.0  emp  2025        p
4       Berkeley Eville      19  1001     4.0  emp  2025        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136    55.0  emp  2025        p
1450       Lamorinda WC      22  1145  -356.0  emp  2025        p
1451       Lamorinda WC      22  1146  1694.0  emp  2025        p
1452  East Contra Costa      24  1201    17.0  emp  2025        p
1453  East Contra Costa      24  1202   165.0  emp  2025        p

[1454 rows x 7 columns]

growth_emp_2030_p
emp
2030
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -256.0  emp  2030        p
1       Berkeley Eville      19   999   604.0  emp  2030        p
2       Berkeley Eville      19   998   -73.0  emp  2030        p
3       Berkeley Eville      19  1000   -75.0  emp  2030        p
4       Berkeley Eville      19  1001    77.0  emp  2030        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   176.0  emp  2030        p
1450       Lamorinda WC      22  1145   562.0  emp  2030        p
1451       Lamorinda WC      22  1146  2919.0  emp  2030        p
1452  East Contra Costa      24  1201    26.0  emp  2030        p
1453  East Contra Costa      24  1202   248.0  emp  2030        p

[1454 rows x 7 columns]

growth_emp_2035_p
emp
2035
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -399.0  emp  2035        p
1       Berkeley Eville      19   999   677.0  emp  2035        p
2       Berkeley Eville      19   998   -11.0  emp  2035        p
3       Berkeley Eville      19  1000   -72.0  emp  2035        p
4       Berkeley Eville      19  1001    94.0  emp  2035        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   208.0  emp  2035        p
1450       Lamorinda WC      22  1145   529.0  emp  2035        p
1451       Lamorinda WC      22  1146  3170.0  emp  2035        p
1452  East Contra Costa      24  1201    37.0  emp  2035        p
1453  East Contra Costa      24  1202   294.0  emp  2035        p

[1454 rows x 7 columns]

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

growth_emp_2040_p
emp
2040
p

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -438.0  emp  2040        p
1       Berkeley Eville      19   999   928.0  emp  2040        p
2       Berkeley Eville      19   998    -1.0  emp  2040        p
3       Berkeley Eville      19  1000   -77.0  emp  2040        p
4       Berkeley Eville      19  1001   125.0  emp  2040        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   -39.0  emp  2040        p
1450       Lamorinda WC      22  1145   787.0  emp  2040        p
1451       Lamorinda WC      22  1146  3323.0  emp  2040        p
1452  East Contra Costa      24  1201    49.0  emp  2040        p
1453  East Contra Costa      24  1202   327.0  emp  2040        p

[1454 rows x 7 columns]

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

growth_emp_2045_p
emp
2045
p

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -476.0  emp  2045        p
1       Berkeley Eville      19   999  1297.0  emp  2045        p
2       Berkeley Eville      19   998    44.0  emp  2045        p
3       Berkeley Eville      19  1000   -50.0  emp  2045        p
4       Berkeley Eville      19  1001   226.0  emp  2045        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136   -38.0  emp  2045        p
1450       Lamorinda WC      22  1145   787.0  emp  2045        p
1451       Lamorinda WC      22  1146  3321.0  emp  2045        p
1452  East Contra Costa      24  1201    50.0  emp  2045        p
1453  East Contra Costa      24  1202   358.0  emp  2045        p

[1454 rows x 7 columns]

growth_emp_2050_p
emp
2050
p

C:\Users\ywang\Anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ywang\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                SD_NAME  SUPERD   TAZ  growth type  year scenario
0       Berkeley Eville      19  1005  -495.0  emp  2050        p
1       Berkeley Eville      19   999  1560.0  emp  2050        p
2       Berkeley Eville      19   998    81.0  emp  2050        p
3       Berkeley Eville      19  1000   -27.0  emp  2050        p
4       Berkeley Eville      19  1001   274.0  emp  2050        p
...                 ...     ...   ...     ...  ...   ...      ...
1449       Lamorinda WC      22  1136     2.0  emp  2050        p
1450       Lamorinda WC      22  1145   801.0  emp  2050        p
1451       Lamorinda WC      22  1146  3448.0  emp  2050        p
1452  East Contra Costa      24  1201    59.0  emp  2050        p
1453  East Contra Costa      24  1202   365.0  emp  2050        p

[1454 rows x 7 columns]

In [17]:
taz_growth_stack.to_csv(os.path.join(output_dir, 'taz_growth_comp_allYrs_stack.csv'), index=False)

In [18]:
taz_growth_comp.loc[taz_growth_comp.SD_NAME == 'SE Snta Clara Cnty'][['hh_growth_diff_2020', 'hh_growth_diff_2025', 
                                                                      'hh_growth_diff_2030', 'hh_growth_diff_2035', 
                                                                      'hh_growth_diff_2040', 'hh_growth_diff_2045', 
                                                                      'hh_growth_diff_2050']].sum()

hh_growth_diff_2020      -55.0
hh_growth_diff_2025      -70.0
hh_growth_diff_2030     3676.0
hh_growth_diff_2035      269.0
hh_growth_diff_2040    -2983.0
hh_growth_diff_2045    -2440.0
hh_growth_diff_2050   -13300.0
dtype: float64